In [1]:
import pandas as pd
import json

# Load Excel sheets
try:
    data = pd.read_excel("data.xlsx")

     # data =  data.drop(columns ='activityType_2')
    def parse_or_empty(value):
        if pd.isna(value) or value == '':
            return None
        try:
            # json.loads expects double quotes for keys/strings.
            # We can replace single quotes with double quotes.
            # However, for robustness, 'ast.literal_eval' is often safer for Python-like strings.
            import ast
            return ast.literal_eval(value)
        except (ValueError, SyntaxError):
            # If parsing fails, return an empty list or handle as an error
            return None
    
    data['month_year_repeat_group'] = data['month_year_repeat_group'].apply(parse_or_empty)
    data['assessors'] = data['assessors'].apply(parse_or_empty)

except FileNotFoundError:
    print("Error: 'data.xlsx' not found. Please make sure the Excel file is in the same directory as the script.")
    exit()

# Convert DataFrame to a list of dictionaries
# Each dictionary represents a row in the DataFrame
json_data = data.to_dict(orient='records')

# Save to JSON
output_file = "data.json"



try:
    with open(output_file, "w") as file:
        json.dump(json_data, file, indent=4)
    print(f"Data successfully saved to {output_file}")


except IOError:
    print(f"Error: Could not write to file {output_file}. Check file permissions or disk space.")
    exit()





# Print the JSON
print("\n--- JSON Output ---")
print(json.dumps(json_data, indent=4))

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [2]:
data

,Unnamed: 0,startingMonth,startingYear,endingMonth,endingYear,clientSpaceSize,spaceCleaniness,waitingSpace,examinationroomTemperature,examionationroomLighting,...,comments_and_recommendations_data_triangulation,today,designation__job_title,full_name,organisation,section,District,facility,month_year_repeat_group,username
0,0,April,2025.0,August,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,HURUNGWE,Helwin Clinic,"[{'calculatedMonth': 'April', 'calculatedYear'...",amutenha
1,1,April,2025.0,August,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,HURUNGWE,Karuru RDC Clinic,"[{'calculatedMonth': 'April', 'calculatedYear'...",amutenha
2,2,April,2025.0,August,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,HURUNGWE,Moy RDC Clinic,"[{'calculatedMonth': 'April', 'calculatedYear'...",amutenha
3,3,April,2025.0,August,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,GOKWE SOUTH,Tongwe Clinic,"[{'calculatedMonth': 'April', 'calculatedYear'...",gguveya
4,4,August,2025.0,August,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,CHEGUTU,Norton hosp,None,percy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,d,SANYATI,Rimuka,None,fgwenzi
239,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,c,MARONDERA,Dombotombo,None,tmunyaradzi
240,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,d,MARONDERA,Dombotombo,None,jgavhera
241,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,e,MARONDERA,Dombotombo,None,jgavhera
242,242,October,2024.0,May,2025.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,b,MARONDERA,Dombotombo,"[{'calculatedMonth': 'October', 'calculatedYea...",amutenha